services:
  mysql-container:
    image: mysql:8.3.0
    environment:
      MYSQL_ROOT_PASSWORD: admin
    ports:
      - "3307:3306"
    volumes:
      - ./mysql-init:/docker-entrypoint-initdb.d
    networks:
      - ecommerce-network
    hostname: mysql-host-productsmicroservice

  products-microservice:
    image: 900325302/ecommerce-products-microservice:v1.0
    environment:
      MYSQL_HOST: mysql-host-productsmicroservice
      MYSQL_PORT: 3306
      MYSQL_PASSWORD: admin
    ports:
      - "8082:8080"
    networks:
      - ecommerce-network
  
  postgres-container:
    image: postgres:16.1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: eCommerceUsersDB
    ports:
      - "5433:5432"
    volumes:
      - ./postgres-init:/docker-entrypoint-initdb.d
    networks:
      - ecommerce-network
    hostname: postgres-host-usersmicroservice

  users-microservice:
    image: 900325302/ecommerce-users-microservice:v1
    environment:
      POSTGRES_HOST: postgres-container
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: eCommerceUsersDB
      POSTGRES_USER: postgres
    ports:
      - "9090:9090"
    networks:
      - ecommerce-network

networks:
  ecommerce-network:
    driver: bridge